#result {
  display: none;
}

#userNumber {
  background-color: black;
  color: white;
  padding: 2px 6px;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 0 15px 0 15px;
}

#form h3 {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  background-color: #5cb85c;
  color: white;
  /*text-shadow: 5px 3px 5px white;*/
  padding: 40px 20px;
  border-radius: 0 80px 0 80px;
  width: 20%;
  margin-left: auto;
  box-shadow: 0px 5px 10px black;
  margin-bottom: 30px;
}

.well {
  box-shadow: 0px 5px 10px black;
}
