#result {
  display: none;
  margin-top: 50px;
  font-family: 'Homenaje', sans-serif;
  font-size: 18px;
}

#userNumber {
  background-color: black;
  color: white;
  padding: 2px 6px;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 0 15px 0 15px;
}

#form {
  font-family: 'Homenaje', sans-serif;
}

#form p {
  font-size: 20px;
  font-weight: bolder;
}

#form ol {
  font-size: 18px;
}

#form h2 {
  margin-bottom: 30px;
  font-family: 'Lobster', cursive;
}

label {
  font-size: 18px;
}

#ball {
  height: 27px;
  width: 27px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 4.3%;
  left: 78%;
  box-shadow: 0px 3px 7px black;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 40px;
  text-align: center;
  background-color: #5cb85c;
  border: 2px solid white;
  color: white;
  text-shadow: 0px 3px 5px black;
  padding: 40px 20px;
  border-radius: 0 80px 0 80px;
  width: 20%;
  margin-left: auto;
  box-shadow: 0px 5px 10px black;
  margin-bottom: 30px;
}

.well {
  box-shadow: 0px 5px 10px black;
}

#error {
  display: none;
  margin-top: 40px;
}

.info {
  margin: 15px 0;
  font-weight: bolder;
}

#clearBtn {
    margin-left: 110px;
    margin-top: -74px;
    color: white;
    font-family: 'Homenaje', sans-serif;
}
